Node-red/Node-red
[{"id":"a91e6c7d.3b17f","type":"ui_gauge","z":"115144e7.5e334b","name":"","group":"8cca1337.76c46","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperatur","label":"*C","format":"{{value}}","min":"10","max":"30","colors":["#ffffff","#00ff00","#ff0000"],"seg1":"20","seg2":"25","x":590,"y":300,"wires":[]},{"id":"44423f54.71084","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/mekkepult2/temperatur","qos":"0","broker":"d0628383.9e7f","x":160,"y":300,"wires":[["a91e6c7d.3b17f","a4c6c1d8.284e2","40d35a2b.c828a4"]]},{"id":"7bc7edf9.feab74","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/mekkepult2/fuktighet","qos":"0","broker":"d0628383.9e7f","x":150,"y":400,"wires":[["20184c91.b1e134","a4c6c1d8.284e2","4170d73e.2a96b8"]]},{"id":"2c147795.3fdb88","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/garasje/BMP/temperatur","qos":"0","broker":"d0628383.9e7f","x":140,"y":540,"wires":[[]]},{"id":"35a6737a.dd42dc","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/garasje/port_bryter","qos":"2","broker":"d0628383.9e7f","x":150,"y":600,"wires":[["462b20a7.6da1f"]]},{"id":"462b20a7.6da1f","type":"ui_switch","z":"115144e7.5e334b","name":"Garasjedør bryter","label":"Port","group":"768865e7.58229c","order":5,"width":"6","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"open_in_browser","oncolor":"#ff0000","offvalue":"0","offvalueType":"str","officon":"lock","offcolor":"#00ff00","x":610,"y":600,"wires":[[]]},{"id":"20184c91.b1e134","type":"ui_gauge","z":"115144e7.5e334b","name":"Fuktighet i mekkebua","group":"8cca1337.76c46","order":2,"width":"3","height":"3","gtype":"gage","title":"Fuktighet","label":"%rel","format":"{{value}}","min":0,"max":"100","colors":["#ffff00","#80ff00","#ffff00"],"seg1":"25","seg2":"50","x":620,"y":400,"wires":[]},{"id":"a4c6c1d8.284e2","type":"ui_chart","z":"115144e7.5e334b","name":"Tgraf Mekkebua","group":"8cca1337.76c46","order":3,"width":"6","height":"4","label":"siste 24T","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#80ff00","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":440,"wires":[[],[]]},{"id":"dc2ebf87.f042b","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/garasje/BMP/trykk","qos":"0","broker":"d0628383.9e7f","x":180,"y":160,"wires":[["d75d4572.77e1c8","17f5af8e.d28b7","cc1529d9.8319c8"]]},{"id":"d75d4572.77e1c8","type":"ui_chart","z":"115144e7.5e334b","name":"Barometer","group":"768865e7.58229c","order":4,"width":0,"height":0,"label":"Trykk (hPa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":200,"wires":[[],[]]},{"id":"e45a3f44.1a0ba","type":"mqtt in","z":"115144e7.5e334b","name":"","topic":"sbv9/garasje/DS1/temperatur","qos":"0","broker":"d0628383.9e7f","x":160,"y":20,"wires":[["88c35d07.517ef","320ed400.7283bc","87fde95.8e0ee18"]]},{"id":"88c35d07.517ef","type":"ui_chart","z":"115144e7.5e334b","name":"Temperatur Garasjen DS18B","group":"768865e7.58229c","order":2,"width":"6","height":"4","label":"siste 24T","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0080ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":60,"wires":[[],[]]},{"id":"320ed400.7283bc","type":"ui_text","z":"115144e7.5e334b","group":"768865e7.58229c","order":1,"width":0,"height":0,"name":"","label":"Temperatur:","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":20,"wires":[]},{"id":"17f5af8e.d28b7","type":"ui_text","z":"115144e7.5e334b","group":"768865e7.58229c","order":3,"width":0,"height":0,"name":"","label":"Barometer","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":160,"wires":[]},{"id":"cc1529d9.8319c8","type":"http request","z":"115144e7.5e334b","name":"Device 1","method":"GET","ret":"txt","url":"http://iot.la7m.com/insert.php?device=1&value={{{payload}}}","tls":"","x":580,"y":240,"wires":[["2d2b9a85.d5a766"]]},{"id":"2d2b9a85.d5a766","type":"debug","z":"115144e7.5e334b","name":"RESTful replies","active":false,"console":"false","complete":"payload","x":1000,"y":260,"wires":[]},{"id":"87fde95.8e0ee18","type":"http request","z":"115144e7.5e334b","name":"Device 2","method":"GET","ret":"txt","url":"http://iot.la7m.com/insert.php?device=2&value={{{payload}}}","tls":"","x":580,"y":100,"wires":[["2d2b9a85.d5a766"]]},{"id":"40d35a2b.c828a4","type":"http request","z":"115144e7.5e334b","name":"Device 3","method":"GET","ret":"txt","url":"http://iot.la7m.com/insert.php?device=3&value={{{payload}}}","tls":"","x":580,"y":340,"wires":[["2d2b9a85.d5a766"]]},{"id":"4170d73e.2a96b8","type":"http request","z":"115144e7.5e334b","name":"Device 4","method":"GET","ret":"txt","url":"http://iot.la7m.com/insert.php?device=4&value={{{payload}}}","tls":"","x":580,"y":480,"wires":[["2d2b9a85.d5a766"]]},{"id":"8cca1337.76c46","type":"ui_group","z":"","name":"Mekkebua","tab":"98067e0f.b8932","order":1,"disp":true,"width":"6","collapse":false},{"id":"d0628383.9e7f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"768865e7.58229c","type":"ui_group","z":"","name":"Garasjen","tab":"98067e0f.b8932","order":3,"disp":true,"width":"6","collapse":false},{"id":"98067e0f.b8932","type":"ui_tab","z":"","name":"Solbyveien 9","icon":"dashboard","order":1}]